<h1 class=t_head>
	ようこそ
	<strong>Bookers</strong>
	へ！
</h1>
<p class='t_p1'>
<strong>Bookers</strong>
では、さまざまな書籍に関するあなたへの意見や</p>
<p class='t_p2'>印象を共有し交換することができます</p>

<%= link_to 'start','http://localhost:3000/books', class: "start" %>